.start {
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100vh;
    width: 100%;
    z-index: 9000;
}

.start p {
    position: fixed;
    left: 47%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 9999;
    width: 280px;
}