.console{
    top: 0px;
    text-align: center;
    font-weight: bold; 
}

#result{
    /* margin: 0 auto; */
    font-size: 48px;
    color: rgb(0, 0, 0);
}

#webcam{
    display: block;
    margin: 0 auto;
}

/* .btn-group1{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
} */

.btn-group2{
    margin-top: 10px;
    text-align: center;
}

.btn-outline-dark{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    color: #fff;
    background-color: #eb6100;
    border-radius: 100vh;
    width: 350px;
    height: 125px;
    font-size: 48px;
    transition: .5s;
}

.btn-outline-dark:active{
    background: #8d8d8d;
}

.btn-outline-dark2{
    color: #fff;
    background-color: #8da1f8;
    width: 350px;
    height: 100px;
    font-size: 48px;
    transition: .5s;
}    

.btn-outline-dark2:active{
    background: #8d8d8d;
}

.upload-label {
    display: inline-block;
    cursor: pointer; /* カーソルを指に */
    margin: 1em 0; /* まわりの余白 */
    padding: .7em 1em; /* 文字まわりの余白 */
    line-height: 1.4; /* 行間 */
    background: #3eff58; /* 背景色 */
    color: #FFF; /* 文字色 */
    font-size: 48px; /* フォントサイズ */
    border-radius: 2.5em; /* 角の丸み */
    transition: 0.2s; /* ホバーをなめらかに */
}

/* inputは隠す */
.upload-label input {
    display: none;
}