.result{
    margin: 0 auto;
}

.webcam{
    margin: 0 auto;
}

.btn-group1{
    margin: 0 auto;
}

.btn-group2{
    margin: 0 auto;
}
    
.btn-outline-dark{
    /* margin: 0 auto; */
    color: #fff;
    background-color: #eb6100;
    border-radius: 100vh;
    width: 200px;
    height: 50px;
    font-size: 32px;
}
    