@charset "utf-8";


/*keyframes.cssの読み込み
---------------------------------------------------------------------------*/
@import url("keyframes.e4d0f6574167.css");


/*全端末（PC・タブレット・スマホ）共通設定
------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
html, body {height: 100%;width: 100%;overflow: hidden;}
body {
	margin: 0px;
	padding: 0px;
	color: #666;	/*全体の文字色*/
	font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #fff;	/*背景色*/
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form,select,textarea,input {margin: 0px;padding: 0px;font-size: 100%;font-weight: normal;}
ul {list-style-type: none;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
a {text-decoration: none;color: #666;transition: 0.5s;}

/*スライドショー
---------------------------------------------------------------------------*/
/*画像ブロック*/
#mainimg {
	clear: left;
	text-indent: -9999px;
	position: fixed;
	top: 0px;left: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
}
/*画像の共通設定*/
.slide0,.slide1,.slide2,.slide3 {width: 100%;height: 100%;}
.slide1,.slide2,.slide3 {
	animation-timing-function: linear;
	animation-duration: 20s;	/*実行する時間。「s」は秒の事。*/
	animation-iteration-count:infinite;		/*実行する回数。「infinite」は無限に繰り返す意味。*/
	position: absolute;left:0px;top:0px;width: 100%;height: 100%;
	animation-fill-mode: both;
}
/*土台画像*/
.slide0 {
	background: url("../images/0.3c5cb61e61d5.jpg") no-repeat center center / cover;	/*土台画像（空）の読み込み*/
	position: relative;
}
/*１枚目*/
.slide1 {
	background: url("../images/1.9d4766eb7221.jpg") no-repeat center bottom/cover;	/*１枚目画像（子供たち）の読み込み*/
	animation-name: slide1;		/*keyframes.cssで使う@keyframesの指定*/
}
/*２枚目*/
.slide2 {
	background: url("../images/2.1347265a2f01.jpg") no-repeat center center/cover;	/*２枚目画像（サッカー）の読み込み*/
	animation-name: slide2;		/*keyframes.cssで使う@keyframesの指定*/
}
/*３枚目*/
.slide3 {
	background: url("../images/3.7389c16014a8.jpg") no-repeat center top/cover;	/*３枚目画像（スイミング）の読み込み*/
	animation-name: slide3;		/*keyframes.cssで使う@keyframesの指定*/
}

/*ヘッダー（ロゴとお知らせが入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	animation-name: opa1;	/*keyframes.cssで使う@keyframesの指定*/
	animation-fill-mode: both;
	animation-duration: 1.5S;	/*アニメーションを実行する時間。「s」は秒の事。*/
	animation-delay: 4s;		/*出現するタイミング（秒後）*/
	position: absolute;
	left: 2%;		/*左からの配置場所指定*/
	bottom: 4%;		/*下からの配置場所指定*/
	width: 94%;		/*ブロックの幅*/
	height: 100px;	/*ブロックの高さ*/
	padding: 20px 0 20px 2%;	/*上、右、下、左へのブロック内の余白*/
	background: #fff;	/*背景色（古いブラウザ用）*/
	background: rgba(255,255,255,0.7);	/*背景色。255,255,255は白の事で0.7は色が70%出た状態の事。*/
}
/*ロゴ画像*/
header #logo img {
	width: 100px;	/*画像の幅*/
	float: left;	/*左に回り込み*/
	padding-right: 20px;	/*右に空ける余白*/
}

/*「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック*/
#new {
	height: 100px;	/*高さ*/
	overflow: auto;	/*高さを超えたコンテンツになった場合にスクロールバーを出す*/
}
/*日付設定*/
#new dt {
	float: left;
	width: 8em;		/*幅*/
	color: #4d91f6;	/*文字色*/
	letter-spacing: 0.1em;
}
/*記事設定*/
#new dd {
	padding-left: 8em;
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*メニュー１個あたりの設定*/
#menubar li {
	animation-name: scale1;		/*keyframes.cssで使う@keyframesの指定*/
	animation-fill-mode: both;
	animation-duration: 1S;		/*アニメーションを実行する時間。「s」は秒の事。*/
	opacity: 0.8;				/*透明度80%*/
	position: absolute;
}
#menubar li a {
	display: block;text-decoration: none;
	animation-name: rotate1;	/*keyframes.cssで使う@keyframesの指定*/
	animation-fill-mode: both;
	animation-duration: 4S;					/*アニメーションを実行する時間。「s」は秒の事。*/
	animation-iteration-count: infinite;	/*実行する回数。「infinite」は無限に繰り返す意味。*/
	animation-timing-function: linear;		/*アニメーションのパターン。速度を一定に変化させる指定。*/
	color: #fff;	/*文字色*/
	text-align: center;	/*文字をセンタリング*/
	width: 250px;		/*メニューの幅*/
	line-height: 250px;	/*メニューの高さ*/
}

/*１つ目のspanタグ（英語）への設定。通常時とマウスオン時で表示を切り替える設定です。*/
#menubar li span:first-child {display: block;}
#menubar li:hover span:first-child {display: none;}

/*２つ目のspanタグ（日本語）への設定。通常時とマウスオン時で表示を切り替える設定です。*/
#menubar li span:last-child {display: none;}
#menubar li:hover span:last-child {display: block;}

/*１つ目メニューへの追加設定*/
#menubar li:nth-of-type(1) {
	animation-delay: 4s;	/*出現するタイミング（秒後）*/
	left: 1%;	/*左からの配置場所指定*/
	top: -1%;	/*上からの配置場所指定*/
}
#menubar li:nth-of-type(1) a {
	background: url("../images/menu1.963aa98a8ac3.png") no-repeat center center / contain;	/*メニュー背景画像の読み込み*/
}
/*２つ目メニューへの追加設定*/
#menubar li:nth-of-type(2) {
	animation-delay: 4.2s;	/*出現するタイミング（秒後）*/
	left: 25%;	/*左からの配置場所指定*/
	top: 15%;	/*上からの配置場所指定*/
}
#menubar li:nth-of-type(2) a {
	background: url("../images/menu2.98bf6cda5a71.png") no-repeat center center / contain;	/*メニュー背景画像の読み込み*/
	animation-delay: 1s;	/*１個ずつメニューをずらしてスイングさせる為の指定*/
}
/*３つ目メニューへの追加設定*/
#menubar li:nth-of-type(3) {
	animation-delay: 4.4s;	/*出現するタイミング（秒後）*/
	right: 27%;	/*右からの配置場所指定*/
	top: 5%;	/*上からの配置場所指定*/
}
#menubar li:nth-of-type(3) a {
	background: url("../images/menu3.7f6c6bb01815.png") no-repeat center center / contain;	/*メニュー背景画像の読み込み*/
	animation-delay: 2s;	/*１個ずつメニューをずらしてスイングさせる為の指定*/
}
/*４つ目メニューへの追加設定*/
#menubar li:nth-of-type(4) {
	animation-delay: 4.6s;	/*出現するタイミング（秒後）*/
	right: 1%;	/*右からの配置場所指定*/
	top: -4%;	/*上からの配置場所指定*/
}
#menubar li:nth-of-type(4) a {
	background: url("../images/menu4.e590a6ff5bc1.png") no-repeat center center / contain;	/*メニュー背景画像の読み込み*/
	animation-delay: 3s;	/*１個ずつメニューをずらしてスイングさせる為の指定*/
}
/*5つ目メニューへの追加設定*/
#menubar li:nth-of-type(5) {
	animation-delay: 4.8s;	/*出現するタイミング（秒後）*/
	right: 50%;	/*右からの配置場所指定*/
	top: -50%;	/*上からの配置場所指定*/
}
#menubar li:nth-of-type(5) a {
	background: url("../images/menu4.e590a6ff5bc1.png") no-repeat center center / contain;	/*メニュー背景画像の読み込み*/
	animation-delay: 3s;	/*１個ずつメニューをずらしてスイングさせる為の指定*/
}
/*マウスオン時*/
#menubar li a:hover {
	width: 260px;	/*マウスオン時にちょっとだけ大きくする。通常サイズは上の「#menubar li a」で指定しています。*/
	animation-play-state: paused;	/*マウスオン時に一時停止する*/
}
#menubar li:hover {
	opacity: 1;	/*色を100%出す*/
}

/*フッター設定（copyrightなど）
---------------------------------------------------------------------------*/
footer {
	position: absolute;
	right: 0px;			/*右からの配置場所指定*/
	bottom: 0px;		/*下からの配置場所指定*/
	width: 100%;
	text-align: center;	/*センタリング*/
	font-size: 10px;	/*文字サイズ*/
}



/*画面幅900px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:900px){

/*ヘッダー（ロゴとお知らせが入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	bottom: 6%;		/*下からの配置場所指定*/
	padding: 5px 0 5px 2%;	/*上、右、下、左へのブロック内の余白*/
}
/*ロゴ画像*/
header #logo img {
	display: none;
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*メニュー１個あたりの設定*/
#menubar li a {
	width: 200px;	/*幅*/
	line-height: 200px;	/*高さ*/
}
/*マウスオン時*/
#menubar li a:hover {
	width: 203px;	/*マウスオン時にちょっとだけ大きくする。通常サイズは上の「#menubar li a」で指定しています。*/
}

}



/*画面が縦向きの場合の設定、かつ、画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (orientation:portrait) and (max-width:800px){

/*メインメニュー
---------------------------------------------------------------------------*/
/*１つ目メニューへの追加設定*/
#menubar li:nth-of-type(1) {
	left: -1%;	/*左からの配置場所指定*/
	top: 1%;	/*上からの配置場所指定*/
}
/*２つ目メニューへの追加設定*/
#menubar li:nth-of-type(2) {
	left: 10%;	/*左からの配置場所指定*/
	top: 30%;	/*上からの配置場所指定*/
}
/*３つ目メニューへの追加設定*/
#menubar li:nth-of-type(3) {
	right: 5%;	/*右からの配置場所指定*/
	top: 45%;	/*上からの配置場所指定*/
}
/*４つ目メニューへの追加設定*/
#menubar li:nth-of-type(4) {
	right: -1%;	/*右からの配置場所指定*/
	top: 4%;	/*上からの配置場所指定*/
}

/*フッター設定（copyrightなど）
---------------------------------------------------------------------------*/
footer .pr {
	display: block;
}

}


/*画面幅700px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:700px){

/*「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック*/
#new {
	font-size: 12px;
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*メニュー１個あたりの設定*/
#menubar li a {
	width: 150px;	/*幅*/
	line-height: 150px;	/*高さ*/
}

}
