{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>トマトくん</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="{% static 'css/style-top.css' %}">
<script src="{% static 'js/openclose.js' %}"></script>
</head>

<body>

<nav id="menubar">
<ul>
<li><a><span>気温</span><span>{{ temp }}</span></a></li>
<li><a><span>CO2濃度</span><span>{{ co2 }}</span></a></li>
<!-- <li><a><span>日射量</span><span>{{ bright }}{{ bright_label }}</span></a></li> -->
<li><a href="{% url 'webcam' %}"><span>カメラ</span><span>Go!</span></a></li>
<li><a><span>土壌水分</span><span>{{ water }}</span></a></li>
</ul>
</nav>

<footer>
<small>Copyright&copy; <a href="index.html">Macaroon Shop</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

<!--背景スライドショー-->
<aside id="mainimg">
<div class="slide0">slide0</div>
<div class="slide1">slide1</div>
<div class="slide2">slide2</div>
<div class="slide3">slide3</div>
</aside>

</body>
</html>