{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Load the latest version of TensorFlow.js -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/knn-classifier"></script>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
  </head>
  <body>
    <div id="console">
      <p id="result">結果</p>
    </div>
    <!-- <video autoplay playsinline muted id="webcam" width="224" height="224"></video> -->
    <video autoplay playsinline muted id="webcam" width="700" height="700"></video>
    <div class="btn-group">
      <button class="btn btn-outline-dark" id="class-1">Level_1</button>
    </div>
    <div class="btn-group">
      <button class="btn btn-outline-dark" id="class-2">Level_2</button>
    </div>
    <div class="btn-group">
      <button class="btn btn-outline-dark" id="class-3">Level_3</button>
    </div>
    <div class="btn-group">
      <button class="btn btn-outline-dark" id="class-4">Level_4</button>
    </div>
    <div class="btn-group">
      <button class="btn btn-outline-dark" id="class-5">Level_5</button>
    </div>
    <div class="btn-group">
      <button class="btn btn-outline-dark" id="SAVE">SAVE</button>
    </div>
    <div class="btn-group">
      <button class="btn btn-outline-dark" id="LOAD">LOAD</button>
    </div>
    <!-- Load index.js after the content of the page -->
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>