{% load static %}
<!-- camera -->
<!-- <html>

<head>
  <meta charset="UTF-8">
  <title>Webcam Image Classification using a pre-trianed customized model and p5.js</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
</head>

<body>
  <h1>Webcam Image Classification using a pre-trianed customized model and p5.js</h1>
  <p>If you cover your webcam, this model will classify it as "1", otherwise will classify anything else else "0" </p>
  <video id="input_video" controls autoplay playsinline width=100% height=100%></video>
  <script src="{% static 'js/test.js' %}"></script>

</body>

</html> -->


<!-- coco-ssd -->
<!-- <html>

<head>
  <meta charset="UTF-8">
  <title>Webcam Image Classification using MobileNet and p5.js</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>

  <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
</head>

<body>
  <h1>Webcam Image Classification using MobileNet and p5.js</h1>
  <script src="{% static 'js/test.js' %}"></script>
</body>

</html> -->

<!-- tensorflow.js -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>tensorflow</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"> </script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"></script>
  <script src="{% static 'js/test.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
</head>
<body>
  <div id="container">
    <div id="wrapper">
      <video id="camera"></video>
      <canvas id="canvas"></canvas>
      <canvas id="camera_canvas"></canvas>
    </div>
  </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,\
      shrink-to-fit=no">
	<meta name="theme-color" content="#000000">

	<link rel="manifest" href="%PUBLIC_URL%/manifest.json">
	<link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
	<!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
	<title>Object detection</title>
</head>

<body>
	<noscript>
		You need to enable JavaScript to run this app.
	</noscript>
  <div id="root"></div>
  <div class="image-txt-container">
  <script src="{% static 'js/test.js' %}"></script>
	<!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
</body>

</html>