{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>What is the tomato color Level?</title>
	<link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="{% static 'css/webcam.css' %}" rel="stylesheet">
	<link href="{% static 'emotion_XCEPTION/model.json' %}" rel="text">
</head>
<body>
	<article id="article">
		<!-- <h1 class="text-center" id="title">tomato color model<br><small>with TensorFlow.js</small></h1> -->

    <div class="l1">
      <!-- <video width="640" height="640" id="main-stream-video" loop preload autoplay playsinline></video> -->
    </div>
    <div class="l2">
      <!-- <canvas width="640" height="640" id="main-stream-canvas"></canvas> -->
      <canvas width="1080" height="1080" id="main-stream-canvas"></canvas>
    </div>
	<div class="container-b">
		<div class="btn-toolbar">
			<div class="btn-group">
				<button class="btn btn-outline-dark" id="camera1">camera1</button>
			</div>
			<div class="btn-group">
				<button class="btn btn-outline-dark" id="camera2">camera2</button>
			</div>
			<div class="btn-group">
				<button class="btn btn-outline-dark" id="clear-button">Clear</button>
			</div>
		</div>
	</div>

	<div class="container-b">
		<div id="faces-container">
			<canvas height="640" id="faceCanvas" width="640"></canvas>
		</div>
	</div>

	<div class="container-b">
		<div class="output">
			<ul class="list-unstyled" id="console">
				<li>hello.please load model.</li>
			</ul>
		</div>
	</div>
</article>
<!-- <footer class="text-center">
	<small>&#169; 2018 Studio Identical Twins All Rights Reserved.</small>
</footer> -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"></script>
<script src="{% static 'js/predict3.js' %}"></script>
</body>
</html>